.form-group-category-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 10px;
}

.form-input-checkbox {
    display: none;
}

.form-category-tag {
    display: inline-block;
    padding: 6px 18px;
    border: 1px solid #ff4d4b;
    color: #ff4d4b;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
    user-select: none;
    background-color: white;
}

.form-input-checkbox:checked+.form-category-name {
    background-color: #ff4d4b;
    color: white;
}

.form-category-name:hover {
    background-color: rgba(255, 77, 75, 0.1);
}
