/* index.css */
.index__content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.index__tab-menu {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 40px;
    padding-left: 50px;
    display: flex;
    gap: 40px;
}

/* 共通のタブスタイル */
.index__tab-item,
.index__tab-item--active {
    padding: 15px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    border-bottom: 2px solid transparent;
    /* 非アクティブ時は透明な線を引いておく（ガタつき防止） */
}

/* アクティブ（選択中）のスタイル */
.index__tab-item--active {
    color: #ff4d4b;
    border-bottom: 2px solid #ff4d4b;
    /* 赤い下線 */
}

.index__product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4列 */
    gap: 40px;
    padding: 0 50px;
}

.index__product-card,
.index__product-card:link,
.index__product-card:visited,
.index__product-card:hover,
.index__product-card:active {
    text-decoration: none;
    color: #333;
}

.index__product-image-container {
    position: relative;
    aspect-ratio: 1 / 1;
    background-color: #e0e0e0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.index__product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index__product-name {
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.index__product-image-container span{
    color: #666;
}

.index__sold-badge {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 60px 0 0;
    /* 三角形のサイズ */
    border-color: #ff4d4b transparent transparent transparent;
    z-index: 1;
}

/* Soldの文字（斜めに配置） */
.index__sold-text {
    position: absolute;
    top: -55px;
    /* 三角形の中に収まるよう調整 */
    left: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    transform: rotate(-45deg);
    /* 文字を傾ける */
    display: block;
    width: 50px;
}