.register-form__content {
    max-width: 450px;
    /* 画像のように中央に細長く配置 */
    margin: 80px auto;
    padding: 0 20px;
}

.register-form__heading h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}

.form__group {
    margin-bottom: 30px;
}

.form__label--item {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

/* 1枚目画像のような四角い入力枠 */
.form__input--text input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
}

/* 1枚目画像のようなパキッとした赤ボタン */
.form__button-submit {
    width: 100%;
    background-color: #ff4d4b;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
}

.form__button-submit:hover {
    opacity: 0.8;
}

a.login__button-submit {
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

a.login__button-submit:hover {
    opacity: 0.8;
}

.error {
    color: red;
}